---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<h1 class="story_title">A Symphony of Sorts</h1>
	<p class="story_author">Florence Yuan</p>
	<p>
		Music begins when all the other words in the world have been exhausted.
	</p>
	<p>
		Perhaps you do not agree, perhaps you shall choose to take the exit to seek the words of this world you have not yet seen, perhaps you shall walk away from the oppressive silence of the velvet seats in an ascending moutain of darkness until you reach the door under the neon sign and you pull at its handle, and suddenly there is a flood of light, followed by a flood of voices and a flood of traffic and the two neat lines of oaks and a bird's trill that feels oddly like spring, and you shall blink into a brilliant blue sky that, forty years ago, my grandfather stared into as he succumbed to his first mental breakdown.
	</p>
	<p>
		Or perhaps you choose to remain in your seat, you choose to stay as the lights dim and the noises that are your yawns and shuffling clothes and the little clicks of your phone die down, and then your voice and your mind enter the dark void that has been briefly illuminated by a bright light, and that is the stage, you understand, that is the stage, but where is the conductor, the orchestra, the music? Patient - it is not here yet, but it will be.  Meanwhile the light grows brighter and your voice grows fainter, until finally you come upon that acute angle when darkness slides without sound into light, and in that hushed quiet we shall begin.
	</p>
</BaseLayout>

<style>
	.story_title {
		margin-bottom: 1rem;
	}

	.story_author {
		font-size: 1.5rem;
		font-style: italic;
		margin-bottom: 1.5rem;
	}
</style>